<html>
  <head>
    <title>Belte og Seler</title>
  </head>
  <body>
    <h1>Welcome to the Belt and Braces service</h1>
    <p>Search for product:
      <form action="search" method="post">
        <table>
            <tr>
                <td><label for="product">Product:</label></td>
                <td><select name="product" required>
                    <option value="the thing" selected>The Thing</option>
                </select>
                </td>
            </tr>
        </table>
        <button type="submit">Search</button>
      </form>
    </p>
  </body>
</html>
