Jinja2==3.1.2
aiosqlite==0.19.0
bcrypt==4.1.0
cryptography==41.0.5
databases==0.8.0
fastapi==0.104.1
fastapi-pagination==0.12.13
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.6
sqlmodel==0.0.12
uvicorn==0.24.0.post1
